.okexbg1 {
  background: #292c35;
  border-radius: 6px;
}
.okexmpending {
  background: #3E7EFE;
}
.okexunlock {
  border: 1px solid #3E7EFE;
  color: #3E7EFE;
}
.okexheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
  background: #272C35;
  min-width: 1100px;
}
.okexhead-wp {
  max-width: 1500px;
  margin: 0 auto;
  padding: 12px 15px;
}
.okexhead-wp .logo img {
  height: 45px;
  cursor: pointer;
}
.okexhead-wp .exch {
  height: 35px;
  background: rgba(216, 216, 216, 0);
  border: 1px solid #2c2e3e;
  border-radius: 8px;
  font-size: 14px;
  margin-left: 30px;
  cursor: pointer;
}
.okexhead-wp .exch span {
  height: 35px;
  background: #3E7EFE;
  border-radius: 8px;
  padding: 0 20px;
  color: #fff;
  display: inline-block;
  line-height: 35px;
  width: 70px;
  text-align: center;
}
.okexhead-wp .exch i {
  font-style: inherit;
  width: 65px;
  text-align: center;
}
.okexhead-wp .exch em {
  font-style: inherit;
  padding: 0 15px 0 10px;
  cursor: auto;
}
.okexhead-wp .navs li {
  height: 41px;
  background: rgba(216, 216, 216, 0);
  border: 1px solid rgba(151, 151, 151, 0.15);
  border-radius: 22px;
  font-size: 14px;
  padding: 0 20px;
  line-height: 40px;
  color: #fff;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}
.okexhead-wp .navs li a {
  color: #fff;
}
.okexhead-wp .navs .on {
  color: rgb(62, 126, 255);
  border: 1px solid rgb(62, 126, 255);
}
.okexhead-wp .navs li:hover {
  background-color: rgba(62, 126, 255, 0.05);
}
.okexhead-wp .bi-set {
  position: relative;
  width: 99px;
  height: 41px;
  background: #3E7EFE;
  border-radius: 21px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  cursor: pointer;
}
.okexhead-wp .bi-set span {
  font-weight: bold;
}
.okexhead-wp .ico {
  margin-left: 20px;
  width: 41px;
  height: 41px;
  background: #4a4c5e;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.okexa-more {
  color: #3E7EFE;
  background: url("images/arr_right.png") no-repeat right center;
}
.okexc1 {
  color: #3E7EFE;
}
.okextongzhi-box .h {
  height: 50px;
  background: url("images/ico_information.png") no-repeat 0px center;
  padding-left: 25px;
}
.okexitem-box1 {
  background: linear-gradient(180deg, #191e2c, #1d2945);
  border: 1px solid #293449;
  padding: 28px;
  line-height: 34px;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 90px;
  position: relative;
}
.okexitem-box1:after {
  content: '';
  display: block;
  background: url("images/bg1.png") no-repeat;
  width: 124px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.okexitem-box1 .n {
  font-size: 17px;
  opacity: .7;
}
.okexitem-box1 .s {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.okexitem-box1 .left .s {
  font-size: 25px;
  font-weight: bold;
}
.okexitem-box1 ul li {
  margin-left: 50px;
}
.okexitem-time span {
  color: #3E7EFE;
}
.okexitem-bordbox3 .info:after {
  background: #2c2f50;
}
.okexitem-chainbox4 .col-md-3 .b2 {
  border-bottom: 1px solid #2c2f50;
}
.okexitem-chainbox5 .titles .t {
  background: url("images/ico_hot.png") no-repeat 0 center;
  padding-left: 25px;
  color: #3E7EFE;
  font-weight: bold;
}
.okexitem-chainbox5 table th,
.okexitem-chainbox5 table td {
  border-bottom: 1px solid #2c2f50;
  padding: 15px 20px;
}
.okexitem-chainbox5 table button {
  background: #3E7EFE;
  color: #fff;
}
.okexitem-chainbox5 table button.btn2 {
  border: 1px solid #3E7EFE;
  color: #3E7EFE;
}
.okextitle10 span {
  width: 227px;
  height: 54px;
  background: url("images/j1.png") no-repeat;
  background-size: 100% 100%;
  margin: 0 10px;
}
.okextitle10 span:last-child {
  background-image: url("images/j2.png");
}
.okexparlist1 li span {
  display: block;
  border-radius: 10px;
  margin: 10px;
}
.okexkc-chianitem1 .bg1 {
  background: linear-gradient(180deg, #272c36, #293449);
}
.okexunselect{
  display: inline-block;
  background: url("../../assets/bxh/unselect.png") no-repeat;
  background-size: 100%;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}
.okexselectable {
  display: inline-block;
  background: url("../../assets/bxh/selectable2.png") no-repeat;
  background-size: 100%;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}
.kc_tab .set .so {
  width: 85px;
  height: 25px;
  background: #4b515c;
  border-radius: 13px;
  padding: 0 10px;
}
.kc_tab .set .so input {
  width: 100%;
  border: 0;
  height: 25px;
  background: url("images/ico_so.png") no-repeat right center;
}
.kc_tab ul li {
  margin: 0 15px;
  position: relative;
}
.kc_tab ul li.on:after {
  content: '';
  width: 16px;
  height: 3px;
  background: #3E7EFE;
  color: #fff;
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;
}
.kc_tab ul li.on a {
  color: #3E7EFE;
}
.kc_tab ul li a {
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  line-height: 21px;
}
.kc_tab ul li a:hover {
  color: #3E7EFE;
}
.okexchainfooter {
  border-top: 1px solid #364050;
  padding: 30px 0 40px 0;
}
.okexchainfooter .left .fav span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("images/fav_01.png");
  background-size: 100%;
  margin-right: 10px;
  cursor: pointer;
}
.okexchainfooter .left .fav .fav2 {
  background-image: url("images/fav_02.png");
  cursor: pointer;
}
.okexchainfooter .info .it ul li:hover {
  color: #3e7eff;
  opacity: 1;
}
.okexemptyImg {
  background: url("../../assets/bxh/emptydata2.png") no-repeat center;
  background-size: 100%;
  width: 30px;
  height: 40px;
  margin: auto;
}
.cloud img {
  -webkit-animation: scale_img 30s infinite ease-out alternate;
  -moz-animation: scale_img 30s infinite ease-out alternate;
  -ms-animation: scale_img 30s infinite ease-out alternate;
  animation: scale_img 30s infinite ease-out alternate;
}
@-webkit-keyframes scale_img {
  0% {
    transform: scale(1) translateX(0px);
  }
  100% {
    transform: scale(1.2) translateX(0px);
  }
}
@keyframes scale_img {
  0% {
    transform: scale(1) translateX(0px);
  }
  100% {
    transform: scale(1.2) translateX(0px);
  }
}
@media (min-width: 992px) {
  .vertical-middle-sm {
    display: table;
  }
  .vertical-middle-sm > div,
  .vertical-middle-sm > li {
    display: table-cell;
    height: 100%;
    min-height: 100%;
    float: none !important;
    vertical-align: middle;
  }
}
@media (max-width: 992px) {
  .okexbg1 {
    border-radius: 8px;
  }
  .th {
    height: 65px;
  }
  .okexheader .okexhead-wp {
    padding: 5px 15px 15px 15px;
  }
  .okexheader .okexhead-wp .bi-set {
    border: 1px solid #3E7EFE;
    border-radius: 13px;
    background: none;
    height: 30px;
    line-height: 28px;
    color: #3E7EFE;
    padding: 0 10px;
    width: auto;
  }
  .okexheader .logo img {
    height: 45px;
  }
  .okexheader .login {
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 13px;
    margin: 0 10px;
  }
  .okexitem-box1 {
    background: linear-gradient(90deg, #512268, #3d307e);
    border-radius: 8px;
    padding: 12px;
    line-height: 26px;
  }
  .okexitem-box1:after {
    display: none;
  }
  .okexitem-box1 .n {
    display: inline-block;
    font-size: 13px;
    color: #fff;
  }
  .okexitem-box1 .s {
    font-size: 13px;
  }
  .okexitem-box1 .left .n {
    font-size: 16px;
  }
  .okexitem-box1 .left .s {
    font-size: 22px;
  }
  .okextitle11 {
    font-size: 16px;
    color: #3E7EFE;
    line-height: 22px;
    font-weight: bold;
  }
  .okexitem-chainbox4 {
    background: #292c35;
    border-radius: 8px;
    padding: 12px;
  }
  .okexitem-chainbox4 .col-md-3 .b2 {
    border-bottom: none;
  }
  .okexitem-chainbox4 .col-md-3 .b2 span:nth-child(2) {
    color: #9FC0FF;
  }
  .okexitem-chainbox5 .set .so {
    background: #4b515c;
  }
  .okexitem-chainbox5 .set .so input {
    background: url("images/ico_so.png") no-repeat right center;
  }
  .okexitem-chainbox5 .s span:nth-child(2) {
    color: #9FC0FF;
  }
  .okexitem-chainbox6,
  .okexitem-chainbox7 {
    background: #292c35;
    border-radius: 10px;
    margin: 10px 0;
    padding: 12px;
  }
  .okexfbottom {
    background: #272c35;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    padding: 0 25px;
  }
  .okexfbottom ul {
    padding: 15px 0;
  }
  .okexfbottom ul .n {
    font-size: 12px;
    color: #fff;
  }
  .okexfbottom ul .ico {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 6px;
  }
  .okexfbottom ul li.on .n {
    color: #3E7EFE;
  }
  /* .okexfbottom ul .i1 .ico {
    background-image: url("images/ico_fb1.png");
  }
  .okexfbottom ul .i1.on .ico {
    background-image: url("images/ico_fb1_on.png");
  }
  .okexfbottom ul .i2 .ico {
    background-image: url("images/ico_fb2.png");
  }
  .okexfbottom ul .i2.on .ico {
    background-image: url("images/ico_fb2_on.png");
  }
  .okexfbottom ul .i3 .ico {
    background-image: url("images/ico_fb4.png");
  }
  .okexfbottom ul .i3.on .ico {
    background-image: url("images/ico_fb4_on.png");
  }
  .okexfbottom ul .i4 .ico {
    background-image: url("images/ico_fb3.png");
  }
  .okexfbottom ul .i4.on .ico {
    background-image: url("images/ico_fb3_on.png");
  }
  .okexfbottom ul .i5 .ico {
    background-image: url("images/ico_fb5.png");
  }
  .okexfbottom ul .i5.on .ico {
    background-image: url("images/ico_fb5_on.png");
  } */
  .okexheader {
    min-width: auto;;
  }
  .table1 td,
  .table1 th {
    padding: 14px 0 !important;
    font-size: 12px;
  }
  .table1 th {
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 17px;
  }
  .table1 tr th:last-child {
    text-align: right;
  }
  .table1 td img {
    height: 18px;
  }
  .table1 td .bi {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    line-height: 20px;
  }
  .okexwap_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    background: rgba(216, 216, 216, 0);
    height: 100%;
  }
  .okexwap_nav .container {
    background: #242d36;
    padding-top: 65px;
    padding-bottom: 10px;
  }
  .okexwap_nav .container .it {
    border-top: 1px solid #2f3841;
  }
  .okexwap_nav .container .it .tit {
    padding: 16px 0;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
  }
  .okexwap_nav .container .it .tit .n {
    line-height: 18px;
  }
  .okexwap_nav .container .it .tit .n span {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
  }
  .okexwap_nav .container .it .tit .n .ico1 {
    background-image: url("images/it1.png");
  }
  .okexwap_nav .container .it .tit .n .ico2 {
    background-image: url("images/it2.png");
  }
  .okexwap_nav .container .it .tit .n .ico3 {
    background-image: url("images/it3.png");
  }
  .okexwap_nav .container .it .tit .n .ico4 {
    background-image: url("images/it4.png");
    background-size: 100%;
  }
  .okexwap_nav .container .it .tit .arr {
    width: 14px;
    height: 14px;
    background: url("images/arr_down3.png");
  }
  .okexwap_nav .container .it ul {
    display: none;
    line-height: 30px;
    margin-left: 25px;
    margin-bottom: 10px !important;
  }
  .okexwap_nav .container .it.on .tit .arr {
    background-image: url("images/arr_top1.png");
  }
  .okexwap_nav .container .it.on ul {
    display: block;
  }
  .okexwap_nav .container .it li {
    opacity: .6;
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .okexitem-box1 .flex {
    display: block;
  }
  .okexitem-box1 .flex .right {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 10px;
    margin-top: 10px;
  }
  .okexitem-box1 .flex ul li {
    margin-left: 0;
    line-height: 30px;
  }
  .okexhead-wp .bi-set span {
    background: url(../../assets/bxh/xiala3.png) no-repeat right;
    padding-right: 15px;
  }
}
