.father{
    /* perspective: 1000; */
    transform: perspective(1000px);
}
.stateImage {
    width: 50px;
    height: 50px;
    margin-top: 70px;
}
@media (prefers-reduced-motion: no-preference) {
    .stateImage {
        animation: State-Image-spin infinite 1s linear;
    }
}

@keyframes State-Image-spin {
    from {
        transform: rotate(0deg);
        -ms-transform: rotateY(0deg);
        -webkit-transform:rotateY(0deg);
        -moz-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -o-transform:rotateY(0deg); 
    }
    to {
        transform: rotate(360deg);
        -ms-transform: rotateY(360deg);
        -webkit-transform:rotateY(360deg);
        -moz-transform: rotateY(360deg);
        transform: rotateY(360deg);
        -o-transform:rotateY(360deg); 
    }
}